.root {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
}

.image {
  height: 100%;
  width: 100%;
  background: no-repeat center;
}

@media (prefers-reduced-motion: reduce) {
  .image {
    animation: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .image {
    animation: spin infinite 20s linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
